// Define variables for your color scheme

// For example:
$blue: #167FFB;
$cream: #FEFBF5;
$dark-green: #042100;
$failure-red: #FE7661;
$gray: #0E0000;
$green: #49BEB7;
$light-gray: #F4F4F4;
$light-green: #C7F0DB;
$light-yellow: #FFD54D94;
$navbar-yellow: #FFD54D;
$orange: #E67E22;
$pink: #FDBFD8;
$red: #FD1070;
$yellow: #FFD54D;
