 <p>
  <%= @greeting%> <%= @user.username %>,
 </p>
<p>
  Welcome to Grammar-blitz! Thank you for signing up! We love you very much for that!  <%= link_to "Let's get you going with some grammar practice!", root_url %> </p>

  <p>
    Lots of love,
  </p>

  <p>Grammar Blitz</p>
