<div class='main-container main-container-exercice'>
  <h3><%= @exercice.name %></h3>

    <%= render partial: 'sentences/shared/single_result' %>

  <div class="exercice-container mx-3">

    <%= render partial: 'sentences/shared/form', sentence: @sentence, prev_sentence: @prev_sentence, responses: @responses, result: @result %>

    <%= render partial: 'sentences/shared/keyboard' %>

  </div>
</div>
