  <%= simple_form_for edict, remote: true, html: { method: :put, class: 'mt-1' } do |f|  %>

    <div class="d-inline">
      <%= f.input_field :value  %>
      <%= f.input_field :english  %>
      <%= f.button :submit, value: 'Update', class: 'btn-primary' %>
    </div>

  <% end %>
