<div class='main-container container'>

  <h1>Welcome to </h1>
  <div class="container mb-5">
    <%= image_tag "https://res.cloudinary.com/duw2hqlo3/image/upload/v1573290509/GB_full_logo_awrusb.png", alt: "grammar-blitz logo", id:"logo-home" %>
  </div>
  <%= link_to "LET'S GET THE FUN STARTED!",  exercices_path, {:class=>'cool-button'} %>
  <h2 class='mt-5 mb-3'>Or find out</h2>
  <%= link_to "WHAT IS GRAMMAR BLITZ?!",  why_path, {:class=>'cool-button'} %>
</div>
