
<div class='main-container'>
  <h1> Why Grammar Blitz?!</h1>
  <p>Grammar Blitz is born out of a frustration. Existing language app are generally based on a list of sentences that they test you on. The problem is that you end up learning the list of sentences, give the right answer on queue and stop practicing the underlying concept of Grammar you wanted to learn. Grammar Blitz want to fix that! </p>
  <h2>How does it work?</h2>
  <p>The algorithm behind Grammar Blitz replicate different sentences structure and populate each element randomly from a table. For instance if the structure of the sentences is Subject Verb Direct Object, each time you reload the page the programme query the database for each element(subject, verb etc.) and give it a different value. As a result, you hardly ever see the same sentence and you have to really practice the underlying grammatical principle. BOUM!</p>
</div>
