
<div class='main-container'>
  <h1> Why Grammar Blitz?!</h1>
  <p>Grammar Blitz is born out of a frustration. The frustration of trying to learn a new grammar. There are many tools to learn the rules but very few effective ways to practice them. Grammar Blitz wants to fix that! </p>
  <h2>How does it work?</h2>
  <p>The algorithm behind Grammar Blitz replicate different sentences structure and populate each element randomly from a table. For instance, if the structure of the sentences is Subject Verb Direct Object, each time you reload the page the program query the database for each element(subject, verb, etc.) and give it a different value. As a result, you see the grammar rule in a lot of different contexts and you can practice it until its second nature.</p>
</div>
