
<div class="container  w-50 mt-4">
  <!-- <textarea id="write" rows="1" cols="60"></textarea> -->
  <div class="row keyboard">
    <li class="letter col-sm">ä</li>
    <li class="letter col-sm">Ä</li>
    <li class="letter col-sm">ö</li>
    <li class="letter col-sm">Ö</li>
    <li class="letter col-sm">ü</li>
    <li class="letter col-sm">Ü</li>
    <li class="letter col-sm">ß</li>
  </div>
</div>


