<div id="progress_bar_container" class="progress mb-4 mx-3">
  <% percent = (((counter - 1) / 10.0) * 100) %>

  <div class="progress-bar progress-bar-striped"
       role="progressbar"
       style="width: <%= percent %>%"
       aria-valuemin="0"
       aria-valuemax="100">
  </div>

  <div class="progress-bar bg-info"
       role="progressbar"
       style="width: <%= 100 - percent %>%"
       aria-valuemin="0"
       aria-valuemax="100">
  </div>
</div>
