.cool-button {
    background-color: $pink;
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
    color: $red;
    border: 0px solid $pink;
    &:hover {
      color: $green !important;
      text-decoration: none !important;
    }

}

.home-button{
  border: 8px solid $pink;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  color: $green ;
  text-decoration: underline;
}

.index-button{
  background: $light-green;
  text-align: center;
  padding: 16px;
  margin: 8px;
  color: $green;
  a {
    text-decoration: none;
    color: $green;
  }
  &:hover {
    color: $red;
    background-color: $pink;
    text-decoration: none;
  }
}

.sign-in-button{
  background: $pink;
  text-align: center;
  color: $red;
  a {
    text-decoration: none;
    color: $red;
  }
}
