.cool-button {
    background-color: #FAE1E2;
    padding: 15px;
    box-shadow: 5px 6px 0px 3px #CC4481;
    font-size: 18px;
    font-weight: bold;
    color: #CC4481;

    a {
      color: $blue !important;
    }

    &:hover {

    }
}


.sign-in-button{
  background: $yellow;
  text-align: center;
  padding: 8px;
  font-size: 16px;
  font-weight: bold;
  border: 4px solid $blue;
  color: $red;
  a {
    text-decoration: none;
    color: #4351C6;
  }
}


.blink_button {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  100% {
    opacity: 0.2;
    background: $red;
    text-align: center;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    border: 4px solid $yellow;
    color: blue;
  }
}
