.card-exercice{
  border: 3px solid $pink;
  max-width: 95%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.10);
}

.profile-card{
  border: 3px solid $pink;
  background-color: $light-green;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.10);
}

.cool-border{
  border: 3px solid $light-green;
  margin-left: -10%;
  margin-right: -10%;
  margin-top: 8%;
}

.verb-exercices{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.exercice{
  display: flex;
  border: 3px solid $pink;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.10);
  width: 25%;
  flex-direction: column;
  padding: 8px;
}
