.main-container{
  text-align: center;
  max-width: 1000px;
  margin: auto;
  margin-top: 50px;
  padding-bottom: 80px;
}

.main-container-exercice{
  max-width: 700px;
}
.width-500px{
  width: 500px;
}

.profile-container{
  text-align: center;
  max-width: 1200px;
  margin: auto;
  margin-top: 50px;
  padding-bottom: 80px;
}

.devise-container{
  text-align: center;
  max-width: 500px;
  margin: auto;
  margin-top: 50px;
}

.input-field{
  height: 44px;
  font-weight: bold;
  text-align: center;
  // border-color: $green;
  border: 3px solid $green;
  background-color: $light-green;
  &:focus{
    outline: none;
  }
}


.progressbar-container{
  width: 360px;
  margin: auto;
}

.progressbar-container-profile{
  width: auto;
  margin: auto;
  height: 36px;
  margin-top: -15px;
}

.exercice-container{
  // background: white;
  border: 3px solid $pink;
  height: auto;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ranking-container{
  width: auto;
  background-color: $yellow;
  color: black;
  overflow: scroll;
  max-height: 548px;
}

.ranking-header{
  background-color: $yellow;
  position: sticky;
  top: 0;
  z-index: 100;
}
