.no-display{
  display: none;
}


.form-label{
  background: $light-yellow;
  padding: 20px;
  width: 20%;
  flex: 0 0 30%;
  text-align: center;
  color:  #FD1015;
}

.active-form{
  background:  #FFD54D;
  color:  white;
  opacity: 1;
  font-weight: bold;
}

#edict_hide_index{
  max-width: 100px;
}

