.success{
 background-color: $light-green;
 width: 300px;
 padding-top: 16px;
 padding-bottom: 2px;
 color: black;
 font-weight: bolder;
 font-size: 24px;
}


.failure{
 background-color: $failure-red;
 color: black;
 font-weight: bold;
}

.active-user{
  font-weight: bold;
  color: black;
  background-color: $yellow;
  padding-right: 8px;
}

.streak-message{
  background-color: $light-green;
  transform: rotate(20deg);
  border: 3px solid $pink;
}


.blink-streak {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.5;
    background: $pink;
    border: 3px solid $light-green;
    color: black;
  }
}

.sentence{
  font-weight: bold;
  font-size: 32px;
}

.english-sentence{
  font-size: 20px;
}

.result-failure{
  font-size: 18px;
  font-weight: bolder;
}

.rorocket{
  color: $red;
  font-size: 30px;
}
