.success{
 background-color: $green;
 width: 300px;
 margin: auto;
 padding-top: 16px;
 padding-bottom: 2px;
}


.failure{
 background-color: $red;
 width: 300px;
 margin: auto;
 padding-top: 16px;
 padding-bottom: 2px;
}

