.navbar-lewagon {
  justify-content: space-between;
  background: $light-yellow;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 48px;
}

.navbar-brand{
  padding: 0px;
}


@media only screen and (max-width: 400px) {
  .navbar-lewagon .navbar-brand img {
    width: 30px;
  }
}

.navbar-links{
  font-weight: bold;
  font-size: 18px;
}


.navbar-links-green{
  color: $green;
  font-weight: bold;
  font-size: 18px;
}
