<% unless @start %>
  <div id="solution">
    <% if @previous_trial.correct? %>
      <div  class='success mb-3'>
        <p>GUT GEMACHT!</p>
      </div>
    <% else %>
      <div class="container">
        <div class="row justify-content-center no-gutters result-failure">
          <p>Schade Marmelade...</p>
          <p class="py-1">You've answered:</p>
          <p class="failure py-1 px-3"> <%= print_response(@responses) %> </p>
        </div>
      </div>
    <% end %>
    <div class="sentence-card">
      <% @hide_index ||= @previous_trial.edict.hide_index %>
      <% sentence_to_array(@previous_trial.value).each_with_index do |word, index| %>
        <p class="correct-answer d-inline mr-2 <%= 'correct' if @hide_index.include?(index.to_s) %>">
            <%= word %>
        </p>
      <% end %>
    </div>
    <button id="next-sentence" class="btn-primary cool-button">
      Los!
    </button>
  </div>
<% end %>
