<div class='main-container'>
  <h1 class='mb-5'>Pick up your practice!</h1>
  <div class="container">
    <% @exercices.each do |exercice| %>
      <div class="row justify-content-center mb-4">
        <div class="empty">
          <%= link_to exercice.name, exercice_setup_path(exercice.id), { :class=>'btn cool-button mx-3' }  %>
        </div>
      </div>
    <% end %>
  </div>
</div>
