<div class='main-container'>
  <h1 class='mb-5'>Pick up your practice!</h1>
  <ul>
    <% @exercices.each do |exercice| %>
      <li class='mb-5'>
          <%= link_to exercice.name, exercice_path(exercice.id), { :class=>'cool-button' }  %>
      </li>
    <% end %>
  </ul>
</div>
